<div>
    <table>
        <tr>
            <th><a href="" ng-click="taskList.setSortColumn('owner')">Owner</a></th>
            <th><a href="" ng-click="taskList.setSortColumn('description')">Task description</a></th>
            <th></th>
        </tr>
        <tr ng-repeat="task in taskList.tasks | orderBy:taskList.sortColumnName:taskList.sortColumnReversed">
            <td>{{taskList.getUserDisplayName(task.owner)}}</td>
            <td>{{task.description}}</td>
            <td><a ui-sref="tasks.detail({_id: task._id})">edit</a>
            </td>
        </tr>
    </table>

    <div ui-view="actionArea"></div>

</div>
