<div>
    {{main.userDisplayName}}, we've got {{taskList.tasks.length}} tasks
    <br/>


    <div ui-view="actionArea"></div>
    <table>
        <tr>
            <th><a href="" ng-click="taskList.setSortColumn('owner')">Owner</a></th>
            <th><a href="" ng-click="taskList.setSortColumn('description')">Task description</a></th>
        </tr>
        <tr ng-repeat="task in taskList.tasks | orderBy:taskList.sortColumnName:taskList.sortColumnReversed">
            <td>{{taskList.getUserDisplayName(task.owner)}}</td>
            <td>{{task.description}}</td>
            <td><a ng-show="task.can.edit" ui-sref="tasks.details({_id: task._id})">edit</a>
            </td>
        </tr>
    </table>
</div>
